.App {
  text-align: center;
}

.clock {
  position: fixed;
  top: 65px;
  right: 30px;
  color: white;
  background: rgb(33, 37, 41);
  padding: 0px 15px;
  z-index: 1;
}

Button#finish-button {
  position: fixed;
  top: 120px;
  right: 30px;
  /* padding: 0px 15px; */
  z-index: 1;
}
Button#evi-btn {
  background: green;
  position: fixed;
  top: 90%;
  right: 15px;
}
.register-btn {
  display: flex;
  justify-content: center;
}
.register-btn Button {
  margin-right: 20px;
}
.login-btn {
  display: flex;
  justify-content: center;
}
.login-btn Button {
  margin-right: 20px;
}
.container-auth p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
