.App {
  text-align: center;
}

.clock {
  position: fixed;
  top: 65px;
  right: 30px;
  color: white;
  background: rgb(33, 37, 41);
  padding: 0px 15px;
  z-index: 1;
}

Button#finish-button {
  position: fixed;
  top: 120px;
  right: 30px;
  /* padding: 0px 15px; */
  z-index: 1;
}
Button#evi-btn {
  background: green;
  position: fixed;
  top: 880px;
  right: 30px;
  /* padding: 0px 15px; */
  /* z-index: 1; */
}
